.section-title{
    font-family: Caveat;
    margin-top: 2rem;
    padding-left: 1rem;
    border-radius: 50%;
    text-align: center;
}


.skill-card {
    /*border-radius: 25px;*/
    /*position: relative;*/
    /*padding: 0px 15px;*/
    /*background-color: #dfe6e9;*/
    /*!*margin: 50px 0;*!*/
    /*height: 3rem;*/
    /*!*width: auto;*!*/
    /*box-shadow: 0 2px 5px #ccc;*/
    /*text-align: justify;*/
}

.skillDiv {
    border-radius: 25px;
    /*border-style: solid;*/
    margin: auto;
    width: 20rem;
    font-family: Bahnschrift;
    font-size: medium;
    color: #726a95;
    text-align: left;

}



.info {

}


